<div class="login-container" onselectstart="return false;">
  <div class="form-dialog">
    <form name="loginForm" role="form" ng-keydown="lc.keydown($event)">
      <div class="form-dialog-title">
        银行卡收单综合服务平台
      </div>
      <div class="form-dialog-content">
        <div class="form-group username-block">
          <label for="username" class="control-label">
            <span class="fa fa-user" aria-hidden="true"></span>
          </label>
          <div data-ng-class="{'has-error': loginForm.username.$invalid}">
            <input type="text" class="form-control" id="username" name="username" placeholder="username" data-ng-model="lc.user.name" data-ng-pattern="/^\w{6,16}$/" data-ng-change="lc.getPassword()">
          </div>
          <p class="help-block" data-ng-show="loginForm.username.$invalid">用户名由6到16位的大小写字母，数字，下划线组成</p>
        </div>
        <div class="form-group password-block">
          <label for="password" class="control-label">
            <span class="fa fa-key" aria-hidden="true"></span>
          </label>
          <div data-ng-class="{'has-error': loginForm.password.$invalid}">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" data-ng-model="lc.user.password" data-ng-pattern="/^\w{6,16}$/">
          </div>
          <p class="help-block" data-ng-show="loginForm.password.$invalid">密码由6到16位的大小写字母，数字，下划线组成</p>
        </div>
        <div class="form-group captch-block">
          <input type="text" class="form-control clearfix" id="captch" name="captch" placeholder="验证码" data-ng-model="lc.user.captch" ng-required="true" />
          <span class="clearfix">
            <img data-ng-src="{{lc.checkCodeUrl}}" ng-click="lc.refreshCheckCode()"/>
          </span>
          <a class="btn-link pull-right clearfix" ng-click="lc.refreshCheckCode()">看不清?换一张</a>
        </div>
        <!-- <div class="form-group">
          <div>
            <div class="checkbox">
              <label>
                <input type="checkbox" data-ng-model="lc.user.role"> 记住密码
              </label>
            </div>
          </div>
        </div> -->
      </div>
      <div class="form-dialog-footer">
        <div class="form-group">
          <div>
            <button type="submit" class="btn btn-default btn-block" data-ng-click="lc.login()" data-ng-disabled="loginForm.username.$invalid || loginForm.password-block.$invalid">登录</button>
          </div>
        </div>
        <div class="form-group">
          <p class="text">
            <a class="btn btn-link pull-left" data-ui-sref="register">还没有帐号？点击这里去注册</a>
            <a class="btn btn-link pull-right">忘记密码？</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
