<ul class="header-inner clearfix">
  <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ open : mactrl.sidebarToggle.left === true }">
    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  </li>
  <li class="logo active">
    <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)">Material Admin</a>
  </li>
  <li class="pull-right">
    <ul class="top-menu">
      <li id="toggle-width">
      <!-- <p> data-change-layout="mactrl.layoutType"</p> -->
        <div class="toggle-switch">
          <input id="tw-switch" type="checkbox" hidden="hidden" data-ng-model="mactrl.sidebarToggle.left">
          <label for="tw-switch" class="ts-helper"></label>
        </div>
      </li>
      <li class="userinfo">
        <p>
          <a href="javascript:;">欢迎你 {{ mactrl.currentUser }} {{ mactrl.sidebarToggle.left }}</a>
        </p>
        <p>
          <a data-ng-click="mactrl.logout()">
            <span class="glyphicon glyphicon-off"></span>
          </a>
        </p>
      </li>
      <!-- <li class="hidden-xs" data-target="chat" data-toggle-sidebar data-model-right="mactrl.sidebarToggle.right" data-ng-class="{ 'open': mactrl.sidebarToggle.right === true }">
        <a href=""><i class="tm-icon zmdi zmdi-comment-alt-text"></i></a>
      </li> -->
    </ul>
  </li>
</ul>
